
.navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 24px;
  background: rgb(26, 32, 28);
  color: white;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.navbar-brand{
  font-size: 20px;
  font-weight: 700;
  color: white;
  text-decoration: none;

  &:hover{
    color: rgb(179, 162, 162);
  }
}

.navbar-menu{
  display: flex;
  align-items: center;
  gap: 8px;
}

.nav-link{
  padding: 8px 12px;
  color: antiquewhite;
  text-decoration: none;
  border-radius: 6px;
  font-size: 15px;
  border: none;
  background: transparent;
  cursor: pointer;

  &:hover{
    background: rgba(255, 255, 255, 0.1);
    color: white;
  }

  &.active{
    background: rgba(255, 255, 255, 0.2);
    color: white;
  }
}

// <nav class="navbar">
//   <a routerLink="/materials" class="navbar-brand">Material HUB</a>
//   <div class="navbar-menu">

//     <ng-container *ngIf="isLoggedIn">
//       <a routerLink="/materials/new" routerLinkActive="active" class="nav-link">New Material</a>
//       <span class="nav-user">Renan</span>
//       <button (click)="logout()" class="nav-link btn-logout">Logout</button>
//     </ng-container>

//     <ng-container *ngIf="!isLoggedIn">
//       <a routerLink="/login" routerLinkActive="active" class="nav-link">Login</a>
//       <a routerLink="/signup" routerLinkActive="active" class="nav-link">Sign Up</a>
//     </ng-container>

//   </div>
// </nav>
