:host{
  display: block;
  padding: 24px;
  background-color: #f4f4f4;
  min-width: 100vh;
}

.page-container{
  max-width: 1100px;
  margin: 0 auto;
}

.material-list{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 16px;
}

.material-card{
  background: #fff;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-content h4{
  margin: 0 0 8px;
  font-size: 17px;
  color: #333;
}

.meta{
  margin: 4px 0;
  font-size: 14px;
  color: #666;
}

.description{
  margin: 8px 0;
  font-size: 14px;
  color: #555;
}

.card-author{
  display: block;
  margin-top: 8px;
  font-size: 14px;
  color: #888;
}

.card-actions{
  margin-top: 16px;
  padding-top: 16px;
  border-top: 1px solid #eee;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  align-items: center;
}

.card-actions .btn{
  padding: 8px 14px;
  font-size: 14px;
  border-radius: 6px;
  font-weight: 500;
  text-align: center;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

.card-actions .btn-view{
  background: rgb(172, 172, 241);
  color: white;

  &:hover{
    background: rgb(138, 138, 247);
  }
}

// <div class="page-container">


//   <div class="material-list">
//     <div *ngFor="let m of materials" class="material-card">
//       <div class="card-content">
//         <h4>{{m.title}}</h4>
//         <p class="meta">{{m.course_code}} - {{m.course_name}}</p>
//         <p class="meta">Professor: {{m.professor}} - {{m.semester}}</p>
//         <p class="description">{{m.description}}</p>
//         <small class="card-author">By: {{m.posted_by_user.email}}</small>
//       </div>

//       <div class="card-actions">
//         <a [href]="m.url" target="_blank" class="btn btn-view">View</a>
//       </div>

//     </div>
//   </div>
// </div>
