:host {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background: linear-gradient(135deg, rgb(245, 142, 95), rgb(247, 125, 68));
}

form {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 9px 16px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 360px;
  text-align: center;
}

h2{
  margin-bottom: 15px;
  color: rgb(46, 46, 46);
  font-size: 30px;
}

label{
  display: block;
  text-align: left;
  margin-bottom: 10px;
  color: dimgray;
  font-weight: 600;
}

input{
  width: 100%;
  padding: 15px;
  margin: 5px 0 10px;
  border: 1px solid #f5f2f2;
  font-size: 20px;
}


.error{
  color: red;
  margin-bottom: 15px;
}

button{
  width: 100%;
  padding: 15px;
  background: rgb(55, 120, 204);
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 10px;
  font-size: 20px;
  cursor: pointer;

  &:hover{
    background: rgb(14, 50, 97);
  }
}
